@font-face {
  font-family: 'Rope';
  src: url('./FaceRopeOutlineRegular-JRBjB.ttf');
}
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100&family=Poppins:wght@200&family=Yeseva+One&display=swap');
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #FCF8FF;
} 
h2 {
  text-align: center;
  padding: 10px;
  font-family: 'Poppins';
  font-size: 70px;
  font-weight: 200;
}
.navbar {
  display: block;
  height: 80px;
  width: 30vw;
  justify-content: space-between;
  align-items: center;
  position: static;
  top: 0;
}
.navbar h3 {
  font-family: 'Rope';
  font-weight: 400;
  font-size: 35px;
}
.navbar ul {
  display: flex;
  list-style: none;
  font-family: 'Poppins', sans-serif;
}
.navbar ul > li, a {
  margin: auto 30px;
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 1.5px;
  
}
.storeNav {
  display: flex;
  justify-content: flex-start;
  margin-top: 2em;
  margin-right: 10em;
}
.storeNav ul {
  display: block;
  position: absolute;
  left: 0;
  flex-direction: column;
  list-style: none;
  font-family: 'Poppins', sans-serif;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  justify-content: left;
  width: 18vw;
  height: 20vh;
}
.storeNav ul > li {
  display: flex;
  text-align: left;
  padding: 1em 0;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.storeNav ul > li Link {
  font-size: 10px;
}
.storeDiv {
  display: grid;
  justify-content: center;
}
.productsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 3em;
  border-radius: 10px;

}
.productsDiv {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1em;
  text-align: center;
  /* width: 30em; */
  
}
.product {
  border-radius: 5px;
  width: 16em;
  background-color: #a1afa01a;
  cursor: pointer;
}
.prodImg {
  margin-top: 10px;
  width: 15vw;
  height: 35vh;
  border-radius: 5px;
}

.knotDiv {
  display: grid;
  grid-template-columns: repeat(4, minmax(50px, 140px));
  grid-template-rows: repeat(2, minmax(0, 4px));
  justify-content: center;
  align-items: center;
  column-gap: 140px;
  row-gap: 90px;
  padding: 1em;
  margin-right: 5.5em;
  margin-top: 2em;
  margin-bottom: 2em;
}
.gifDiv img{
  display: block;
  margin: auto auto;
  width: 25%;
  padding: 1em;
}
.knotDiv button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12vh;
  width: 20vw;
  font-family: 'Poppins', sans-serif;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  border: 0.5px solid black;
}
.knotDiv button Link {
  text-align: center;
  font-size: 10px;
}
iframe {
  display: block;
  margin: 0.5em auto;
  border-radius: 5px;
}
.factContainer {
  display: flex;
  justify-content: center;
}
.factDiv {
  display: inline-block;
  text-align: center;
  width: 50%;
  height: 100%;
  margin: 2em auto;
  padding: 2em;
  border-radius: 20px;
  background-color: #a1afa07c;
}
.factDiv ul {
  list-style: upper-roman;
  text-align: left;
}
.factDiv iframe {
  display: inline-block;
  margin-top: 10px;
  border-radius: 5px;
  width: 100%;
}

.contactDiv {
  display: flex;
  justify-content: center;
  margin: 1em auto;
  width: 40%;
  height: 10%;
  padding: 1em;
  background-color: #a1afa07c;
  border-radius: 5px;
}
.contactDiv form {
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.contactDiv input {
  border-radius: 5px;
  border: none;
  height: 30px;
  margin: 10px;
  outline: none;
  font-family: 'Poppins', sans-serif;
}
.contactDiv input[type='text'] {
  text-indent: 10px;
}

textarea {
  font-family: 'Poppins', sans-serif;
  border-radius: 5px;
  border: none;
  margin: 10px;
  width: 30vw;
  height: 30vh;
  outline: none;

}
