@font-face {
  font-family: 'Rope';
  src: url('./FaceRopeOutlineRegular-JRBjB.ttf');
}
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100&family=Poppins:wght@200&family=Yeseva+One&display=swap');
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #106821;
} 
h2 {
  text-align: center;
  padding: 10px;
  font-family: 'Rope';
  font-size: 70px;
  font-weight: 400;
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
}
.navbar {
  background-color: #008EAA;
  box-shadow: 1px 5px 27px 5px rgba(0,0,0,0.43);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: sticky;
  top: 0;
  height: 80px;
}
.navbar h3 {
  font-family: 'Rope';
  font-weight: 400;
  font-size: 35px;
}
.navbar ul {
  display: flex;
  list-style: none;
  font-family: 'Poppins', sans-serif;
}
.navbar ul > li, a {
  margin: auto 30px;
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 1.5px;
}
.storeDiv {
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 200px));
  justify-content: center;
  align-items: baseline;
}
.productDiv {
  width: 10em;
  border: 3px solid red;
}

.knotDiv {
  display: grid;
  grid-template-columns: repeat(4, minmax(50px, 140px));
  grid-template-rows: repeat(2, minmax(0, 4px));
  justify-content: center;
  align-items: center;
  column-gap: 120px;
  row-gap: 70px;
  padding: 1em;
  margin-right: 5.5em;
  margin-top: 2em;
  margin-bottom: 2em;
}
.gifDiv img{
  display: block;
  margin: auto auto;
  width: 25%;
  padding: 1em;
}
.knotDiv button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12vh;
  width: 20vw;
  font-family: 'Poppins', sans-serif;
  border-radius: 5px;
  border: none;
}
.knotDiv button Link {
  text-align: center;
  font-size: 10px;
}
iframe {
  display: block;
  margin: 0.5em auto;
  border-radius: 5px;
}
.factContainer {
  display: flex;
  justify-content: center;
}
.factDiv {
  display: inline-block;
  text-align: center;
  width: 50%;
  height: 100%;
  margin: 2em auto;
  padding: 2em;
  border-radius: 5px;
  background-color: #A1AFA0;
}
.factDiv ul {
  list-style: upper-roman;
}
.factDiv iframe {
  display: inline-block;
  margin-top: 10px;
  border-radius: 5px;
  width: 100%;
}

.contactDiv {
  display: flex;
  justify-content: center;
  margin: 1em auto;
  width: 40%;
  height: 10%;
  padding: 1em;
  background-color: #A1AFA0;
  border-radius: 5px;
}
.contactDiv form {
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.contactDiv input {
  border-radius: 5px;
  border: none;
  height: 30px;
  margin: 10px;
  outline: none;
  font-family: 'Poppins', sans-serif;


}
.contactDiv input[type='text'] {
  text-indent: 10px;
}

textarea {
  font-family: 'Poppins', sans-serif;
  border-radius: 5px;
  border: none;
  margin: 10px;
  width: 30vw;
  height: 30vh;
  outline: none;

}
